.navbar-light {
    @include media-breakpoint-down(xs){
        margin-top: 35px;
        margin-bottom: 35.8px;
    }
    .navbar-brand{
        margin-left: 18.8px;
        img {
            width: 257px;
        }
        @include media-breakpoint-up(xl){
            margin-left: 75.2px;
            img {
                width: 182px;
            }
        }

    }
    .navbar-toggler {
        border-color: transparent;
        margin-right: 25.5px;
    }
    .navbar-toggler-icon {
        background-image: url('../img/hamburguer.png');
        background-size: contain;
    }
    .navbar-nav {
        .nav-link {
            cursor: pointer;
            padding: 0;
            color: $cinza;
        }
    }
}

.navbar-collapse {
    @include media-breakpoint-down(xs){
        margin-top: 60.9px;
    }
    .navbar-opcoes {
        .nav-item {
            text-align: center;
            font-weight: bold;
            font-size: 35px;
            padding: 43px 37px 40.8px 37px;
            
            &:nth-child(even){
                background-color: #E6E6E6;
            }
            &:nth-child(odd){
                background-color: #F2F2F2;
            }

            @include media-breakpoint-down(sm){
                padding: 27px 0 37.8px 0;
            }
            @include media-breakpoint-up(sm){
                font-size: 21px;
            }
            @include media-breakpoint-between(sm, xl){
                font-size: 18px;
                padding: 43px 28px 40.8px 28px;
            }
        }
    }
    .navbar-idiomas {
        margin-top: 61.2px;
        @include media-breakpoint-up(xl){
            margin-left: auto;
            margin-right: 84px;
        }
        .nav-item {
            
            img {
                margin-right: 11px;
                @include media-breakpoint-down(lg){
                    width: 34px;
                    height: 35px;
                }
                @include media-breakpoint-between(sm, xl){
                    width: 28px;
                    height: 28px;    
                }
                width: 31px;
                height: 31px;
            }
            .nav-link {
                font-size: 22px;
                @include media-breakpoint-up(sm){
                    font-size: 21px;
                }
                @include media-breakpoint-between(sm, xl){
                    font-size: 18px;
                }
            }
            @include media-breakpoint-down(xs){
                margin-bottom: 36.6px;
            }
            @include media-breakpoint-up(sm){
                margin-right: 19px;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
}