.login_2 {
    background-image: url('../img/bg_login_2.png');
    background-repeat: no-repeat;
    background-size: contain;
    .form-login {
        @include media-breakpoint-up(xl){
            margin-top: 72px;
            margin-left: 180px;
            padding-bottom: 534px;
        }
        @include media-breakpoint-down(lg){
            margin-top: 30px;
            margin-left: 108px;
            padding-bottom: 330px;
        }
        @include media-breakpoint-down(md){
            margin-top: 20px;
            margin-left: 82px;
            padding-bottom: 266px;
        }
        @include media-breakpoint-down(sm){
            margin-top: 275px;
            margin-left: 60px;
        }
        @include media-breakpoint-down(xs){
            margin-top: 184px;
            margin-left: 0;
        }
        .form-group{
            input {
                font-size: 26px;
                width:427px;
                height: 61px;
                margin-right: 6px;
                margin-bottom: 8px;
                transform: skewX(-10deg);
                @include media-breakpoint-down(lg){
                    font-size: 14px;
                    width:336px;
                    height: 40px;
                }
                @include media-breakpoint-down(md){
                    font-size: 14px;
                    width:336px;
                    height: 30px;
                }
                @include media-breakpoint-down(xs){
                    font-size: 13px;
                    width:384px;
                    height: 42px;
                    margin-right: 6px;
                    margin-bottom: 8px;
                }
            }
        }
        button{
            color: $cinza;
            font-size: 26px;
            font-weight: bold;
            width: 277px;
            height: 63px;
            transform: skewX(-10deg);
            @include media-breakpoint-down(lg){
                font-size: 18px;
                width: 140px;
                height: 40px;
            }
            @include media-breakpoint-down(md){
                font-size: 14px;
                width: 140px;
                height: 30px;
            }
            @include media-breakpoint-down(xs){
                font-size: 13px;
                height: 38px;
            }
        }
    }
    .navbar-login {
        @include media-breakpoint-up(xl){
            margin-top: 224px;
            margin-left: 180px;
        }
        @include media-breakpoint-down(lg){
            margin-top: 138px;
            margin-left: 108px;
        }
        @include media-breakpoint-down(md){
            margin-top: 115px;
            margin-left: 82px;
        }
        @include media-breakpoint-down(sm){
            margin-top: 150px;
            margin-left: 60px;
        }
        @include media-breakpoint-down(xs){
            margin-top: 100px;
            margin-left: 0px;
        }
        .nav-item {
            margin-right: 10px;
            @include media-breakpoint-down(xs){
                margin-right: 5px;
            }
            img {
                @include media-breakpoint-down(sm){
                    width: 24px;
                    height: 24px;
                }
                @include media-breakpoint-down(xs){
                    width: 20px;
                    height: 20px;
                }
            }
            .nav-link {
                color: $white;
                font-size: 21px;
                @include media-breakpoint-down(sm){
                    font-size: 16px;
                }
                @include media-breakpoint-down(xs){
                    font-size: 12px;
                }
            }
        }
    }
}
.fill {
    height: 400px;
}