.login_2 {
    background-image: url('../img/bg_login_2.png');
    background-repeat: no-repeat;
    background-size: contain;
    // height: 1080px;
    // min-height: 976px;
    .form-login {
        // height: 1080px;
        margin-top: 72px;
        margin-left: 135px;
        padding-bottom: 478px;
        .form-group{
            input {
                font-size: 26px;
                width:427px;
                height: 61px;
                margin-right: 6px;
                margin-bottom: 8px;
                transform: skewX(-10deg);
            }
        }
        button{
            color: $cinza;
            font-size: 26px;
            font-weight: bold;
            width: 277px;
            height: 63px;
            transform: skewX(-10deg);
        }
    }
}
.navbar-login {
    margin-top: 224px;
    margin-left: 135px;
    .nav-item {
        margin-right: 10px;
        .nav-link {
            color: $white;
            font-size: 21px;
        }
    }
}
.fill {
    height: 400px;
}