.login {
    background-image: url('../img/bg_login_1.png');
    background-repeat: no-repeat;
    background-size: contain;
    .form-login {
        @include media-breakpoint-up(xl){
            margin-top: 444px;
            margin-left: 135px;
            padding-bottom: 320px;
        }
        @include media-breakpoint-down(sm){
            margin-top: 22px;
            margin-left: 0;
        }
        .form-inline{
            input {
                @include media-breakpoint-up(lg){
                    font-size: 26px;
                    width:427px;
                    height: 79px;
                    margin-right: 6px;
                    margin-bottom: 8px;
                }
            }
        }
        button{
            @include media-breakpoint-up(lg){
                color: $cinza;
                font-size: 26px;
                font-weight: bold;
                width: 277px;
                height: 82px;
            }
        }
    }
}
.navbar-login {
    @include media-breakpoint-up(xl){
        margin-top: 114px;
        margin-left: 135px;
    }
    @include media-breakpoint-down(sm){
        margin-top: 250px;
        margin-left: 0px;
    }
    .nav-item {
        margin-right: 10px;
        .nav-link {
            color: $white;
            font-size: 21px;
        }
    }
}
.fill {
    height: 400px;
}