.login {
    background-image: url('../img/bg_login_1.png');
    height: 1080px;
    .form-login {
        height: 1080px;
        margin-bottom: 140px;
        margin-left: 144px;
        .form-inline{
            input {
                font-size: 26px;
                width:427px;
                height: 79px;
                margin-right: 6px;
                margin-bottom: 8px;
            }
        }
        button{
            color: $cinza;
            font-size: 26px;
            font-weight: bold;
            width: 277px;
            height: 82px;
        }
    }
}
.navbar-login {
    margin-top: 114px;
    margin-left: 156px;
    .nav-item {
        margin-left: 10px;
        .nav-link {
            color: $white;
            font-size: 21px;
        }
    }
}