.modal-backdrop{
    &.show {
        opacity: 0;
    }
}
.modal-header {
    border-bottom: none;
    .modal-title {
        margin-left: auto;
        margin-right: auto;
    }
    .close {
        margin: -1rem -1rem -1rem 0;
    }
}
.linha-modal-agenda{
    margin-bottom: 10px;
}
.modal-content {
    background-color: $cinza;
    color: $white;
}
.modal-title {
    font-size: 39px;
    font-weight: bold;
}
.modal-body {
    border-bottom: none;
    padding: 0 46px 14px 47px;
}
.icones-fotos {
    img {
        width: 84px;
        height: 84px;
        @include media-breakpoint-between(md, lx){
            &:first-child{
                margin-right: 5px;
            }
        }
        @include media-breakpoint-only(md){
            width: 64px;
            height: 64px;
        }
    }
    @include media-breakpoint-between(md, lg){
        margin-right: 5px;
    }
    @include media-breakpoint-between(xs, sm){
        margin-bottom: 5px;
    }
}
.caixa-data-horario {
    // width: 221px;
    font-size: 19px;
    background-color: $white;
    color: $verde;
    padding:28px 36px;
    border-radius: 15px ;
    @include media-breakpoint-only(lg){
        padding:15px 10px 15px 25px;
        margin-right: 5px;
    }
    @include media-breakpoint-only(md){
        padding:5px 10px 5px 25px;
        margin-right: 5px;
    }
    @include media-breakpoint-between(xs, sm){
        margin-bottom: 5px;
    }
    @include media-breakpoint-only(xs){
        padding:25px 10px 29px 12px;
    }
}
.caixa-palestrantes {
    width: 607px;
    padding:13px 36px 10px 55px;
    border-radius: 15px ;
    background-color: $verde;
    @include media-breakpoint-only(md){
        padding:3px 10px 3px 15px;
    }
    @include media-breakpoint-only(sm){
        flex: 1 1 auto;
    }
    @include media-breakpoint-only(sm){
        margin-bottom: 5px;
    }
    @include media-breakpoint-only(xs){
        margin-bottom: 5px;
    }
    span {
        font-weight: bold;
        font-size: 21px;
        color: $amarelo;
        display: block;
    }
    strong{
        font-size: 21px;
        color: $amarelo;
    }
    small {
        font-size: 21px;
        color: $white;
    }
}
.caixa-biografia {
    width: 168px;
    button {
        font-size: 19px;
        color: $amarelo;
        font-weight: bold;
        &:hover{
            color: inherit;
        }
        img {
            margin-right: 15px;
        }
    }
}
.caixa-btn-assistir {
    // width: 168px;
    button {
        border-radius: 12px;
        font-weight: bold;
        padding: 27px 18px 26px 18px;
        @include media-breakpoint-only(lg){
            padding:16px 18px 16px 18px;
        }
        @include media-breakpoint-only(md){
            padding:6px 18px 6px 18px;
        }
        img {
            width: 32px;
            height: 29px;
            margin-right: 10px;
            // margin-bottom: 5px;
        }
    }
}
.video {
    background-color: $black;
    height: 467px;
    img {
        margin-left: auto;
        margin-right: auto;
    }
}
.modal-video {
    padding: 61px 196px 64px 161px;
    @include media-breakpoint-only(lg){
        padding: 0 46px 50px 46px;
    }
    @include media-breakpoint-only(md){
        padding: 0 48px 60px 48px;
    }
    @include media-breakpoint-only(sm){
        padding: 0px 50px 50px 50px;
    }
    @include media-breakpoint-only(xs){
        padding: 10px 48px 20px 50px;
    }
    .form-inline {
        margin-top: 28.8px;
        input {
            font-size: 19px;
            text-align: center;
            padding: 34px 0;
        }
        button {
            padding: 20px 25px 20px 25px;
            text-transform: uppercase;
            font-size: 19px;
            margin-left: 4px;
            @include media-breakpoint-only(xs){
                margin-top: 5px;
                margin-left: 0px;
            }
        }
    }
}

.modal-biografia {
    padding-bottom: 100px;
    .bloco-info-palestrante{
        @include media-breakpoint-only(md){
            margin-bottom: 0.5rem;
        }
    }
    .modal-title {
        color: $amarelo;
        h5 {
            text-align: center;
            font-size: 23px;
            font-weight: bold;
        }
        h6 {
            text-align: center;
            font-size: 21px;
            small {
                color: $white;
            }
        }
    }
    .foto-palestrante {
        width: 195px;
        height: 195px;
        margin-right: 24px;
        @include media-breakpoint-down(sm){
            margin-bottom: 0.5rem;
        }
        @include media-breakpoint-down(xs){
            width: 95px;
            height: 95px;
        }
    }
    h5 {
        font-size: 21px;
        color: $amarelo;
        font-weight: bold;
    }
}

.modal-upload {
    h5 {
        font-size: 39px;
    }
    .formulario-upload{
        padding: 101px 250px 100px 250px;
        margin-bottom: 61px;
        border-radius: 15px;;
        background-color: #1E1F21;
        label {
            border-color: transparent;
            font-size: 26px;
            font-weight: bold;
            background-color: transparent;
        }
        .input-upload {
            cursor: pointer;
            border-radius: 15px;
            width: 193px;
            height: 58px;
            font-size: 18px;
            background-color: $amarelo;
            color: #2B2D33;
        }
        .form-control-file {
            width: inherit;
            display: none;
        }
    }
}

.modal-xl {
    max-width: 1454px;
}