.faixa-verde {
    background-color: $verde;
    padding-right: 103px;
    padding-left: 103px;
    h6 {
        font-size: 31px;
        font-weight: bold;
        @include media-breakpoint-up(sm){
            font-size: 43px;
        }
    }
    @include media-breakpoint-up(sm){
        padding-right: 273px;
        padding-left: 273px;
    }
    .btn-faixa {
        width: 207px;
        height: 67px;
        color: $cinza;
        font-size: 21px;
        font-weight: bold;
        @include media-breakpoint-up(sm){
            font-size: 24px;
        }
    }
}