.agenda {
    padding-top: 27px;
    padding-bottom: 22px;
    background-color: $white;
    border-radius: 25px 25px 0 0;
    margin-top: -57px;
    @include media-breakpoint-up(lx){
        padding-top: 81px;
        padding-bottom: 45px;
        padding-left: 193px;
        padding-right: 193px;
        margin-left: 80px;
        margin-right: 80px;
    }
    @include media-breakpoint-down(lg){
        padding-top: 81px;
        padding-bottom: 45px;
        padding-left: 40px;
        padding-right: 40px;
        margin-left: 80px;
        margin-right: 80px;
    }
    @include media-breakpoint-down(md){
        padding-top: 81px;
        padding-bottom: 45px;
        padding-left: 53px;
        padding-right: 53px;
        margin-left: 80px;
        margin-right: 80px;
    }
    @include media-breakpoint-down(sm){
        padding-top: 81px;
        padding-bottom: 45px;
        padding-left: 93px;
        padding-right: 93px;
        margin-left: 80px;
        margin-right: 80px;
    }
    @include media-breakpoint-down(xs){
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .header-agenda {
        margin-bottom: 61px;
        @include media-breakpoint-down(sm){
            margin-bottom: 22px;
            text-align: center;
        }
    }
    h5 {
        display: inline;
        font-size: 43px;
        color: $black;
        font-weight: bold;
        @include media-breakpoint-down(sm){
            display: block;
        }
    }
    span {
        a{
            font-size: 38px;
            font-weight: bold;
            color: #B8B8B8;
            &.active {
                color: $amarelo;
            }
        }
    }
    @include media-breakpoint-down(xs){
        h5, span{
            text-align: center;
        }
        h5 {
            display: block;
            font-size: 29px;
        }
        span {
            display: block;
            a{
                font-size: 24px;
            }
        }
    }
}
.linha-agenda {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
    .conteudo-agenda{
        
        span {
            width: 99px;
            height: 99px;
            color: $white;
            border-radius: 10px;
            background-color: $cinza;
            @include media-breakpoint-down(md){
                width: 66px;
                height: 66px;    
            }
            @include media-breakpoint-down(xs){
                width: 67px;
                height: 67px;    
            }
            strong {
                @include media-breakpoint-down(lg){
                    font-size: 32px;
                }
                @include media-breakpoint-down(md){
                    font-size: 28px;
                }
                @include media-breakpoint-down(sm){
                    font-size: 28px;
                }
                @include media-breakpoint-down(xs){
                    font-size: 27px;
                }
            }
            small{
                @include media-breakpoint-down(lg){
                    font-size: 22px;
                }
                @include media-breakpoint-down(md){
                    font-size: 20px;
                }
                @include media-breakpoint-down(sm){
                    font-size: 20px;
                }
                @include media-breakpoint-down(xs){
                    font-size: 17px;
                }
            }
        }
        img {
            width: 99px;
            height: 99px;
            @include media-breakpoint-down(md){
                width: 66px;
                height: 66px;
            }
        }
        
    }
    .titulo-agenda {
        padding: 0 34px;
        @include media-breakpoint-down(sm){
            margin-top: 30px;
            text-align: center;
            padding: 0 30px;
        }
        h6 {
            font-size: 29px;
            color: $verde;
            font-weight: bold;
            text-align: left;
            @include media-breakpoint-down(sm){
                text-align: center;
                margin-bottom: 0;
            }
            @include media-breakpoint-down(xs){
                
                font-size: 31px;
            }
        }
        
        strong, small {
            font-size: 21px;
            color: $cinza;
            @include media-breakpoint-up(sm){
                font-size: 29px;
            }
        }
    }
    .botao-agenda {
        margin-left: auto;
        @include media-breakpoint-only(sm){
            margin-left: auto;
            margin-right: auto;

        }
        .btn-agenda {
            width: 207px;
            height: 67px;
            color: $cinza;
            font-size: 21px;
            font-weight: bold;
            @include media-breakpoint-down(sm){
                margin-top: 26px;
            }
            @include media-breakpoint-up(sm){
                font-size: 24px;
            }
        }
    }
}