.agenda {
    padding-top: 27px;
    padding-bottom: 22px;
    background-color: $white;
    border-radius: 25px 25px 0 0;
    margin-top: -57px;
    @include media-breakpoint-up(sm){
        padding-left: 273px;
        padding-right: 273px;
    }
    h5 {
        display: inline;
        font-size: 43px;
        color: $black;
        font-weight: bold;
    }
    span {
        a{
            font-size: 38px;
            font-weight: bold;
            color: #B8B8B8;
            &.active {
                color: $amarelo;
            }
        }
    }
    @include media-breakpoint-down(xs){
        h5, span{
            text-align: center;
        }
        h5 {
            display: block;
            font-size: 29px;
        }
        span {
            display: block;
            a{
                font-size: 24px;
            }
        }
    }
}
.linha-agenda {
    padding-left: 0;
    padding-right: 0;
    .conteudo-agenda{
        margin-top: 22px;
        @include media-breakpoint-up(sm){
            img {
                width: 99px;
                height: 99px;
            }
        }
        span {
            @include media-breakpoint-down(xs){
                width: 67px;
                height: 67px;    
            }
            width: 99px;
            height: 99px;
            color: $white;
            border-radius: 10px;
            background-color: $cinza;
            strong {
                font-size: 27px;
                @include media-breakpoint-up(sm){
                    font-size: 34px;
                }
            }
            small{
                font-size: 17px;
                @include media-breakpoint-up(sm){
                    font-size: 22px;
                }
            }
        }
       
    }
    .titulo-agenda {
        margin-top: 30px;
        padding: 0 34px;
        h6 {
            font-size: 29px;
            color: $verde;
            font-weight: bold;
            @include media-breakpoint-down(sm){
                text-align: center;
            }
            @include media-breakpoint-up(sm){
                text-align: left;
                font-size: 31px;
            }
        }
        
        strong, small {
            font-size: 21px;
            color: $cinza;
            @include media-breakpoint-up(sm){
                font-size: 29px;
            }
        }
    }
    .botao-agenda {
        margin-top: 26px;
        margin-left: auto;
        .btn-agenda {
            width: 207px;
            height: 67px;
            color: $cinza;
            font-size: 21px;
            font-weight: bold;
            @include media-breakpoint-up(sm){
                font-size: 24px;
            }
        }
    }
}