.faixa-upload {
    background-color: $cinza;
    padding-top: 77px;
    padding-bottom: 18px;
    @include media-breakpoint-up(sm){
        padding-right: 103px;
        padding-left: 103px;
    }
    .conteudo-upload {
        @include media-breakpoint-up(sm){
            padding-left: 165px;
            padding-right: 160px;
        }
        h6{
            font-size: 29px;
            font-weight: bold;
            color: $amarelo;
            text-align: center;
        }
    }
    .conteudo-botao-upload {
        margin-bottom: 30px;
        padding-left: 47px;
        padding-right: 47px;
        margin-top: 17px;
        background-color: #1E1F21;
        border-radius: 15px;
        height: 278px;
        width: 308px;
        @include media-breakpoint-down(sm){
            margin-left: auto;
            margin-right: auto;
        }
        @include media-breakpoint-up(sm){
            height: 542px;
            width: 601px;
        }
        img {
            width: 87px;
            @include media-breakpoint-up(sm){
                width: 170px;
            }
        }
        .botao-upload-texto {
            margin-top: 28px;
            font-size: 16px;
            color: #5F5F5F;
            @include media-breakpoint-up(sm){
                font-size: 29px;
            }
        }
    }
    .conteudo-text {
        @include media-breakpoint-up(sm){
            width: 739px;
        }
        p {
            @include media-breakpoint-down(sm){
                padding-left: 38px;    
                padding-right: 38px;    
            }
            font-weight: lighter;
            color: $white;
            font-size: 30px;
            @include media-breakpoint-down(sm){
                font-size: 19px;
                line-height: 15px;
            }
        }
    }
    .conteudo-qa {
        background-color: #5F5F5F;
        .form-inline {
            label {
                font-size: 64px;
                color: $cinza;
            }
        }
        @include media-breakpoint-up(sm){
            margin-left: 155px;
            margin-right: 155px;
            padding-top: 44px;
            padding-bottom: 44px;
            padding-left: 57px;
            padding-right: 57px;
            label {
                margin-right: 10px;
            }
            input {
                font-size: 29px;
                background-color: $white;
                padding-top: 48px; 
                padding-bottom: 43px;
            }
            button{
                margin-left: 32px;
            }
        }
        @include media-breakpoint-down(sm){
            border-radius: 15px 15px 0 0;
            padding-left: 38px;
            padding-right: 38px;
            padding-bottom: 63px;
            label {
                text-align: center;
                display: block;
            }
            input {
                padding: 66px 64px 63px 65px;
            }
            button {
                color: $cinza;
                font-size: 21px;
                text-align: center;
                width: 207px;
                margin-left: auto;
                margin-right: auto;
                padding-top: 20px;
                padding-bottom: 16px;
            }
        }
    }
}