.faixa-upload {
    background-color: $cinza;
    padding-top: 77px;
    padding-bottom: 18px;
    .conteudo-upload {
        margin-left: 273px;
        padding-left: 0;
        h6{
            font-size: 29px;
            font-weight: bold;
            color: $amarelo;
            text-align: center;
        }
    }
    .conteudo-botao-upload {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        padding-left: 47px;
        padding-right: 47px;
        margin-top: 17px;
        background-color: #1E1F21;
        border-radius: 15px;
        height: 278px;
        width: 308px;
        @include media-breakpoint-up(sm){
            height: 542px;
            width: 601px;
        }
        img {
            width: 87px;
            @include media-breakpoint-up(sm){
                width: 170px;
            }
        }
        .botao-upload-texto {
            margin-top: 28px;
            font-size: 16px;
            color: #5F5F5F;
            @include media-breakpoint-up(sm){
                font-size: 29px;
            }
        }
    }
    .conteudo-text-mobile {
        width: 308px;
        margin-left: auto;
        margin-right: auto;
    }
    p {
        font-weight: lighter;
        color: $white;
        font-size: 30px;
        @include media-breakpoint-down(sm){
            font-size: 19px;
            line-height: 15px;
        }
    }
}