$verde: #37691E;
$amarelo: #FEE200;
$cinza: #2A2E32;
$cinza2: #2A2D32;


$font-family-sans-serif: 'JDSansPro', serif;
$primary: $verde;
$secondary: $amarelo;
@import '../node_modules/bootstrap/scss/bootstrap.scss';

@import '_fonts';


@import '_header';
@import '_modal';
@import '_hero';
@import '_login';
@import '_login_2';
@import '_hero_regressiva';
@import '_hero_live';
@import '_section_sobre';
@import '_section_sobre_alternativo';
@import '_section_agenda';
@import '_pagina_agenda';
@import '_section_faixa_verde';
@import '_section_upload';
@import '_section_download';
@import '_footer';

body {
    background-color: #e2e2e2;;
}
.bg-mundo{
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    &.bg-mundo-br{
        background-image: url('./../img/bg_mapa_mundi_br.png');
    }
    &.bg-mundo-us {
        background-image: url('./../img/bg_mapa_mundi_us.png');   
    }
    &.bg-mundo-us {
        background-image: url('./../img/bg_mapa_mundi_es.png');   
    }
}



.padding-content {
    padding:0 80px;
    @include media-breakpoint-down(xs){
        padding:0 0px;
    }
}

