$verde: #37691E;
$amarelo: #FEE200;
$cinza: #2A2E32;
$cinza2: #2A2D32;


$font-family-sans-serif: 'JDSansPro', serif;
$primary: $verde;
$secondary: $amarelo;
@import '../node_modules/bootstrap/scss/bootstrap.scss';

@import '_fonts';


@import '_header';
@import '_hero';
@import '_section_sobre';
@import '_section_agenda';
@import '_section_faixa_verde';
@import '_section_upload';
@import '_footer';

body {
    background-color: #e2e2e2;;
}

.padding-content {
    padding:0 80px;
    @include media-breakpoint-down(xs){
        padding:0 0px;
    }
}

